{{ partial "head.html" . }}

<h1>
  {{$.Title}}
  <small>
    <span class="date">Опубликовано {{.Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</span>
    в блоге
    <span class="site"><a href="{{.Site.BaseURL}}">Евгения Молотова</a></span>
  </small>
</h1>

<main>
  <article>
    {{.Content}}
  </article>
</main>

<section class="comment">
  {{ if .Params.comment_tg_url }}
  <p><a href="{{ .Params.comment_tg_url }}">Оставить комментарий на моем Telegram-канале</a></p>
  {{ end }}
</section>

{{ partial "foot.html" }}
