{{ partial "head.html" . }}

<main class="index">
  <section class="article-list">
    <h1>{{$.Title}}</h1>

    {{ range (where (where .Site.RegularPages "Section" "blog") "Params.nohtml" "!=" "true") }}
    <div class="article">
      <span class="date">{{.Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</span>
      <a href="{{.Permalink}}">{{.Title}}</a>
    </div>
    {{ end }}
  </section>

  <aside>
    <img
      src="/avatar-460.jpg"
      alt="Кадр из видео, показанного во время вмешательства в эфир телеканалов WGN-TV и WTTW (1987)"
      width="148" height="148" />

    <div class="text-center">
      <a class="rss" href="/blog/index.xml">rss</a>
      ·
      <a href="misc.html">misc</a>
    </div>

    <dl class="external-links">
      <dt>email</dt>
      <dd><a href="mailto:eugene.molotov@yandex.ru">eugene.molotov@yandex.ru</a></dd>
      <dt>github</dt>
      <dd><a href="https://github.com/em92">em92</a></dd>
      <dt>donate</dt>
      <dd><a href="https://liberapay.com/em92">liberapay</a></dd>
    </dl>
  </aside>
</main>
