{{ partial "head.html" . }}

<main class="index">
  <section class="article-list">
    <h1>{{$.Title}}</h1>

    {{ range (where (where .Site.RegularPages "Section" "blog") "Params.nohtml" "!=" "true") }}
    <div class="article">
      <span class="date">{{.Date.Day }} {{ index $.Site.Data.mois (printf "%d" .Date.Month) }} {{ .Date.Year }}</span>
      <a href="{{.Permalink}}">{{.Title}}</a>
    </div>
    {{ end }}
  </section>

  <aside>
    <img
      src="/avatar-460.jpg"
      alt="Я в Москве на фоне парка Горького"
      width="148" height="148" />

    <div class="text-center">
      <a class="rss" href="/blog/index.xml">rss</a>
      ·
      <a href="/about/">обо мне</a>
    </div>

    <dl class="external-links">
      <dt>email</dt>
      <dd><a href="mailto:molotov@it-projects.info">molotov@it-projects.info</a></dd>
      <dt>github</dt>
      <dd><a href="https://github.com/em230418">em230418</a></dd>
    </dl>
  </aside>
</main>
